<!DOCTYPE html>
<html>

<head>
    <title>{{path}}</title>
</head>

<body>
    <table>
        {{#each lines as |line|}}
        <tr>
            <td>{{line.lineNumber}}</td>
            <td>{{line.hit}}</td>
            <td>{{line.lineContent}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>