* {
    font-family: sans-serif;
}

body {
    padding: 0% 5%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

table.main-table {
    width: 100%;
}

table.main-table th {
    color: #FFF;
    background-color: cornflowerblue;
    font-size: larger;
}

td,
th,
span {
    padding: 0.4em;
    vertical-align: middle;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: gold;
}

.red {
    background-color: red;
}

td.bold {
    font-weight: 800;
}

td.default {
    color: dodgerblue;
    background-color: skyblue;
    padding: 0.25em;
}